.header {
    background-color: #68ae7d;
    text-align: center;
}

.box {
    padding-top: 42px;
}

.box3{
    padding-top: 10px;
}

.btnWork {
    background-color: #00a896;
    padding: 8px;
}

.btnBank {
    background-color: #028090;
    padding: 8px;
}

.btnLoan {
    background-color: #05668d;
    padding: 8px;
}

.btnBuy {
    background-color: #02c39a;
    padding: 8px 16px;
}

.container {
    padding-top: 2em;
    margin-top: 2em;
}

.col {
    border-radius: 10px;
    box-shadow:  3px 3px 3px #05668d, 
             -3px -3px 3px #02c39a;
    margin: 1em;
    text-align: center;
}

ul {
    padding-top: 30px;
}

li {
    list-style: none;
    margin: 10px;
}

p {
    padding-top: 10px;
}

#laptopPicture {
    margin: 30px;
}
